<h1>ようこそ Boolersへ!</h1>
<!-- form_with部分 -->
<%= form_with model: Booker.new do |f| %>

  <h2>Bookers では、さまざまな書籍に関するあなたの意見や</h2>
  <h3>印象を共有し交換することができます</h3>

  <h4>start</h4>
  

<% end %>

<h1>Lists#new</h1>
<p>Find me in app/views/lists/new.html.erb</p>
